@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}
body{
    background-color: #0B0B0B;
}

body header{
    display: flex;
    justify-content: space-around;
    position: fixed
}
body header nav ul{
    display: flex;
    gap: 20px;
    list-style: none; 
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
}
main #hero{
    background-image: url(../img/backgrounds/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

